@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
    font-size: 16px;
    --vulcan: #373942;
    --whitesmoke: #f5f5f5;
    --cta: #222e50;
    --periwinkle: #d4cdf4;
}

* {
    box-sizing: border-box;
}

body,
ul,
li,
nav,
figure,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", Helvetica, sans-serif;
    color: var(--vulcan);
    background-color: var(--whitesmoke);
    font-size: 0.75rem;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    margin-top: 1rem;
    text-align: center;
}

.main-ttl {
    text-align: center;
    margin-top: 1rem;
}

/* FORM  */

.form-txt {
    height: 2rem;
    width: 70%;
    border-radius: 25px;
}

.form-cta {
    height: 2rem;
    width: 2rem;
    border-radius: 25px;
    color: #fff;
}
.main-nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    margin: 1rem auto;
    border: 1px solid red;
}

.main-nav-item {
    list-style: none;
    border: 1px black solid;
    width: 60%;
    padding: 0.5rem;
}
